<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/mahmo/Desktop/untitled/src/test/java/VerifyTestCasesPage/TestCases.java">
        <classes>
            <class name="VerifyTestCasesPage.TestCases">
                <methods>
                    <include name="testPage"/>
                    <include name="testCaseAssertion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>